<section>
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div class="card">
          <img
            src="./assets/usergen.png"
            alt="rata"
            class="card-img-top img-thumbnail"
          />
          <div class="card-body">

            <div class="mb-2">
              <i class="fa fa-user-circle text-success"></i> Online now
            </div>

            <div>
              <strong>Location:</strong>
              <p>Peru, Lima</p>
            </div>
            <div>
              <strong>Nombres:</strong>
              <p>{{name}}</p>
            </div>
            <div>
              <strong>Telefono:</strong>
              <p>{{phone}}</p>
            </div>
            <div>
              <strong>Age:</strong>
              <p>{{age}}</p>
            </div>
          </div>
          <div class="card-footer">
            <div class="btn-group d-flex">
              <button class="btn btn-primary">Editar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


