<div class="d-flex justify-content-center pad">
  <div class="wrapper">
    <p class="heading"> WELCOME</p>
    <div class="content">
      <ul>
        <li>Welcome Nutricionista!. </li> <br>
        <li>Esperemos que su experiencia de usuario sea favorable.</li> <br>
        <li>
          If you are a new user, you must first update your profile, before booking a session.<br> <br>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/nutricionistaDashboard/nutricionista-experience">
            <button class="btn btn-secondary">Revisar Experience</button>
          </a>

          <a mat-list-item routerLinkActive="list-item-active" routerLink="/nutricionistaDashboard/nutricionista-schedule">
            <button class="btn btn-secondary">Agendar horario</button>
          </a>

        </li>
      </ul>
    </div>
  </div>
</div>
