<div class="d-flex justify-content-center pad">
  <div class="wrapper">
    <p class="heading"> WELCOME</p>
    <div class="content">
      <ul>
        <li>Welcome Nutricionista!. </li> <br>
        <li>Esperemos que su experiencia de usuario sea favorable.</li> <br>
        <li>
          If you are a new user, you must first update your profile, before booking a session.<br> <br>
          <button class="btn btn-secondary">Revisar Experiencie</button> &nbsp;
          <button class="btn btn-info">Agendar horario</button>
        </li>
      </ul>
    </div>
  </div>
</div>
