<div class="heading">EDIT PLAN</div>
<form *ngIf="plan.length!=0"  #editPlanForm="ngForm"  class="plan"   (ngSubmit)="updatePlan(editPlanForm)"   ngNativeValidate [formGroup]="form">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" formControlName="name" [ngModel]="plan[0].name" required>
  </div>

  <div class="form-group">
    <label for="sesiones">Sesiones</label>
    <input type="text" class="form-control" id="sesiones" name="sesiones" formControlName="maxSessions" [ngModel]="plan[0].maxSessions" required>
  </div>

  <div class="form-group">
    <label for="cost">Precio</label>
    <input type="number" class="form-control" name="cost" id="cost" formControlName="price" [ngModel]="plan[0].price" required>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" rows="3" formControlName="description" [ngModel]="plan[0].description" required></textarea>
  </div>

  <div class="form-group">
    <label for="status">Select Status</label>
    <select class="form-control" id="status" name="status" formControlName="status" [ngModel]="plan[0].active" ngModel required>
      <option value="true">ACTIVE</option>
      <option value="false">INACTIVE</option>
    </select>
  </div>

  <button type="submit" class="btn btn-warning">UPDATE</button> &nbsp;
  <button type="button" class="btn btn-secondary" (click)="cancel()" >BACK</button>

</form>
