<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card profile-card-2">
                    <div class="card-img-block">
                        <img class="img-fluid"
                            src="https://www.semana.com/resizer/fFZYZmueddoq3LqZfraQegJGY8w=/1200x675/filters:format(jpg):quality(50)//cloudfront-us-east-1.images.arcpublishing.com/semana/3D2KAQ4KHFGU5HCHLJBKUGZNVM.jpg"
                            alt="Card image cap">
                    </div>
                    <div class="card-body pt-5">
                        <img src="https://randomuser.me/api/portraits/men/64.jpg" alt="profile-image" class="profile" />
                        <h2 class="card-title">Información personal</h2>
                    </div>
                    <div class="card-header">
                        <div class="bg-light card-body">
                            <form>
                                <div class="mb-3 g-3 row">
                                    <div class="col-lg-6"><label for="firstName"
                                            class="form-label">Apellido</label><input placeholder="" name="firstName"
                                            type="text" id="firstName" value="" class="form-control">
                                    </div>
                                    <div class="col-lg-6"><label for="lastName" class="form-label">Nombre</label><input
                                            placeholder="" name="lastName" type="text" id="lastName" value=""
                                            class="form-control"></div>
                                </div>
                                <div class="mb-3"><label for="heading" class="form-label">DNI</label><input
                                        placeholder="" name="heading" type="text" id="heading" value=""
                                        class="form-control"></div>

                                <div class="mb-3 g-3 row">
                                    <div class="col-lg-6"><label for="firstName" class="form-label">Correo</label><input
                                            placeholder="" name="firstName" type="text" id="firstName" value=""
                                            class="form-control">
                                    </div>
                                    <div class="col-lg-6"><label for="lastName"
                                            class="form-label">Teléfono</label><input placeholder="" name="lastName"
                                            type="text" id="lastName" value="" class="form-control"></div>
                                </div>
                                <div class="mb-3"><label for="heading" class="form-label">Fecha de
                                        nacimiento</label><input placeholder="" name="heading" type="text" id="heading"
                                        value="" class="form-control"></div>
                                <div class="mb-3 g-3 row">
                                    <div class="col-lg-6"><label for="firstName"
                                            class="form-label">Dirección</label><input placeholder="" name="firstName"
                                            type="text" id="firstName" value="" class="form-control">
                                    </div>
                                    <div class="col-lg-6"><label for="lastName"
                                            class="form-label">Distrito</label><input placeholder="" name="lastName"
                                            type="text" id="lastName" value="" class="form-control"></div>
                                </div>
                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary">Actualizar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card profile-card-2">
                    <div class="card-body pt-5">
                        <h2 class="card-title">Información profesional</h2>
                    </div>
                    <div class="card-header">
                        <div class="bg-light card-body">
                            <form>
                                <div class="mb-3"><label for="heading" class="form-label">Universidad</label><input
                                        placeholder="" name="heading" type="text" id="heading" value=""
                                        class="form-control"></div>
                                <div class="mb-3"><label for="heading" class="form-label">Año de egreso</label><input
                                        placeholder="" name="heading" type="text" id="heading" value=""
                                        class="form-control"></div>
                                <div class="mb-3"><label for="heading" class="form-label">Profesión</label><input
                                        placeholder="" name="heading" type="text" id="heading" value=""
                                        class="form-control"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 pt-3">
                    <div class="card profile-card-2">
                        <div class="card-body pt-5">
                            <h2 class="card-title">Asesoría nutricional</h2>
                        </div>
                        <div class="card-header">
                            <div class="bg-light card-body">
                                <p>Nutrición clínica</p>   
                                <hr>
                                <p>Nutrición para aumento de masa muscular</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>