<link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />


<section class="text-center pb-4">
  <h1 class="col-sm-3 m-auto p-4 border-bottom border-3px border-dark">Subscriptions</h1>
  <article class="d-inline-flex card m-1 mt-4 ml-3 mr-3 p-0 border-success border-3px">
    <h4 class="card-header text-light bg-success border-0 rounded-0 text-center">Free</h4>
    <header class="card-body text-light text-center bg-success bblr">
      <h1>£0.00 <sub class="fs-1">Per Month</sub></h1>
    </header>
    <footer class="card-body bg-white text-dark text-center">
      <ul class="list-unstyled text-left">
        <li class="lead"><i class="fa fa-check text-success" aria-hidden="true"></i> First Amazing Feature</li>
        <li class="lead"><i class="fa fa-check text-success" aria-hidden="true"></i> Second Amazing Feature</li>
        <li class="lead"><i class="fa fa-check text-success" aria-hidden="true"></i> Third Amazing Feature</li>
        <li class="lead"><i class="fa fa-check text-success" aria-hidden="true"></i> Fourth Amazing Feature</li>
        <li class="lead"><i class="fa fa-check text-success" aria-hidden="true"></i> Fifth Amazing Feature</li>
      </ul>
      <button class="btn btn-success ml-auto pl-3 pr-3 disabled">Included</button>
    </footer>
  </article>
  <article class="d-inline-flex card m-1 ml-3 mr-3 p-0 border-warning border-3px">
    <h4 class="card-header text-light bg-warning border-0 rounded-0 text-center">Standard</h4>
    <header class="card-body text-light text-center bg-warning bblr">
      <h1>£5.00 <sub class="fs-1">Per Month</sub></h1>
    </header>
    <footer class="card-body bg-white text-dark text-center">
      <ul class="list-unstyled text-left">
        <li class="lead"><i class="fa fa-check text-success" aria-hidden="true"></i> First Amazing Feature</li>
        <li class="lead"><i class="fa fa-check text-success" aria-hidden="true"></i> Second Amazing Feature</li>
        <li class="lead"><i class="fa fa-check text-success" aria-hidden="true"></i> Third Amazing Feature</li>
        <li class="lead"><i class="fa fa-check text-success" aria-hidden="true"></i> Fourth Amazing Feature</li>
        <li class="lead"><i class="fa fa-check text-success" aria-hidden="true"></i> Fifth Amazing Feature</li>
      </ul>
      <h6 class="badge badge-dark p-1 text-warning mp"><i class="fa fa-star" aria-hidden="true"></i> Most Popular <i class="fa fa-star" aria-hidden="true"></i></h6>
      <button class="btn btn-warning ml-auto pl-3 pr-3">Subscibe</button>
    </footer>
  </article>
  <article class="d-inline-flex card m-1 ml-3 mr-3 p-0 border-danger border-3px">
    <h4 class="card-header text-light bg-danger border-0 rounded-0 text-center">Advanced</h4>
    <header class="card-body text-light text-center bg-danger bblr">
      <h1>£10.00 <sub class="fs-1">Per Month</sub></h1>
    </header>
    <footer class="card-body bg-white text-dark text-center">
      <ul class="list-unstyled text-left">
        <li class="lead"><i class="fa fa-check text-success" aria-hidden="true"></i> First Amazing Feature</li>
        <li class="lead"><i class="fa fa-check text-success" aria-hidden="true"></i> Second Amazing Feature</li>
        <li class="lead"><i class="fa fa-check text-success" aria-hidden="true"></i> Third Amazing Feature</li>
        <li class="lead"><i class="fa fa-check text-success" aria-hidden="true"></i> Fourth Amazing Feature</li>
        <li class="lead"><i class="fa fa-check text-success" aria-hidden="true"></i> Fifth Amazing Feature</li>
      </ul>
      <button class="btn btn-danger ml-auto pl-3 pr-3">Subscibe</button>
    </footer>
  </article>
</section>
