<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">ADMINISTRATOR</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/adminDashboard">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item> <mat-icon>edit</mat-icon> Perfil </a>
  <a mat-list-item routerLink="/adminDashboard/manageAccounts"> <mat-icon>edit</mat-icon> Accounts </a>


  <a mat-list-item> <mat-icon>edit</mat-icon> Suscripcions </a>
</mat-nav-list>
