<div class="d-flex justify-content-center pad">
  <div class="wrapper">
    <p class="heading"> WELCOME</p>
    <div class="content">
      <ul>
        <li>Welcome Admin!. </li> <br>
        <li>Dashboard providing you to edit subscriptions, delete accounts.</li> <br>
        <li>
          If you are a new user, you must first update your profile, before booking a session.<br> <br>
          <button class="btn btn-secondary">Revisar tu dieta</button> &nbsp;
          <button class="btn btn-info">Agendar una Sesión</button>
        </li>
      </ul>
    </div>
  </div>
</div>
