<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/Easy.jpeg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">NUTRICIONISTA</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/nutricionistaDashboard/nutrivhome">
    <mat-icon>home</mat-icon> Home
  </a>

  <a mat-list-item nrouterLinkActive="list-item-active" routerLink="/nutricionistaDashboard/nutricionista-experience">
    <mat-icon>Experience</mat-icon> Experience
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/nutricionistaDashboard/diets">
    <mat-icon>Diet</mat-icon> Diet
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/nutricionistaDashboard/nutricionista-schedule">
    <mat-icon>Schedule</mat-icon> Schedule
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/nutricionistaDashboard/feedback">
    <mat-icon>Feedback</mat-icon> Feedback
  </a>

  <a mat-list-item> <mat-icon>edit</mat-icon> Perfil </a>

</mat-nav-list>

