<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/prop.png" alt="Company Logo"  style="height: 60px; width: 70px" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">CLIENTES</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/clienteDashboard/clientHome">
    <mat-icon>home</mat-icon> Home
  </a>
  <a mat-list-item routerLink="/clienteDashboard/cliente-profile" > <mat-icon>edit</mat-icon> Perfil </a>
  <a mat-list-item routerLink="/clienteDashboard/nutri-list"> <mat-icon>dashboard</mat-icon> Sesion </a>
  <a mat-list-item routerLink="/clienteDashboard/nutri-likes"> <mat-icon>star</mat-icon> Favoritos </a>
</mat-nav-list>
